altgraph==0.17.4
cx_Freeze==7.2.3
cx_Logging==3.2.0
lief==0.15.1
packaging==24.1
pefile==2024.8.26
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
setuptools==75.1.0
